<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../../public/img/weathericon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- styles -->
    <link rel="stylesheet" href="css/styles.css" />
    <title>{{ title }}</title>
</head>
<body>
    {{>header}}
    <div class="main-content">

        <form id="send-sms">
            <fieldset>
                <legend>Request Verification Code</legend>
                <input id="username" type="text" placeholder="username" aria-placeholder="username">
                <button type="submit">Send SMS</button>
            </fieldset>
        </form>


        <form id="verify-sms">
            <fieldset>
                <legend>Request Password Change</legend>
                <input id="username-verify" type="text" placeholder="username" aria-placeholder="username">
                <input id="verification-code" type="text" placeholder="Verification Code" aria-placeholder="Verification Code">
                <input id="new-password" type="text" placeholder="New Password" aria-placeholder="New Password">
                <button type="submit">Change Password</button>
            </fieldset>
        </form>

        <p class="message-1"></p>
    </div>

    <!-- js -->
    <script src="/js/forgotPassword.js"></script>
</body>
</html>